.container-login {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
    column-gap: 30px;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

.tour-form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 0 15px;
    border-radius: 6px;
    background-color: #EDF2F6;
    border-radius: 12px;
}

.tour-form {
    margin: 20px 0 0 0;
    padding: 40px 20px 40px 20px;
}

.tour-form a {
    color: #0171d3;
    text-decoration: none;
}

.tour-form .field {
    position: relative;
    height: 8vh;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    padding: 10px;
}

.tour-form input {
    background-color: #fff;
    color: #232836;
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms-sign.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms-sign.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

.form {
    margin-top: 30px;
    transition: all 0.2s ease;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0px 15px;
    border: 1px solid#CACACA;
    background-color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 6px;
}

#myProgress {
    width: 100%;
    background-color: grey;
    border-radius: 12px;
}


#myBar {
    width: 0%;
    height: 20px;
    background-color: #04AA6D;
    border-radius: 12px;
}

#reloadMessage2 {
    display: none;
}

#reloadMessage {
    display: none;
}

#regForm {
    background-color: #ffffff;
    margin: auto;
    padding: auto;
    width: 100%;
}

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #04AA6D;
}

input.invalid {
    border: 1px solid red;
    background-color: #ffdddd;
}

.error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #016dcb;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff;
    background-color: #4267b2;
}

a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

a.Login {
    color: #fff;
    background-color: #016FD0;
    text-decoration: none;
}

.facebook-icon,
img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

a.google {
    border: 1px solid #CACACA;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}

.forms-sign {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.forms-sign.show {
    display: flex;
}