body {
    font-family: 'Helvetica Neue', sans-serif;
}

.highlighted-text {
    color: #29BE97;
}

.highlighted-text-2 {
    color: #FF6647;
}

.Caveat {
    font-family: 'Caveat', cursive;
}

.abril-fatface {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 88px;
}

.abril-fatface2 {
    font-family: 'Abril Fatface', sans-serif;
}

.yesteryear {
    font-family: 'Yesteryear', cursive;
    font-size: 30px;
    color: #29BE97;
}

.select-disable {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Header */

.header-widget-padding {
    padding: 15px 25px 15px 0px;
}

.header-widget-icon {
    margin: 0px 6px 0px 0px;
}

.header-social-padding {
    padding-right: 8px;
    color: #212529;
    text-decoration: none;
}

.logo-padding {
    margin: 13px 15px 13px 0px;
}

.logo-text {
    font-family: 'Abril Fatface', sans-serif;
}

.navbar-padding {
    padding: 28.22px 10px;
}

.navbar-padding-account {
    padding: 20.2px 10px;
}

.navbar-text-active {
    color: #29BE97;
}

.navbar-text-active:hover {
    color: #29BE97;
}

.navbar-active {
    color: #212529;
    position: relative;
    overflow: hidden;
}

.navbar-active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    width: 80%;
    height: 0;
    background-color: #29BE97;
    transition: height 0.16s, border-top-left-radius 0.16s, border-top-right-radius 0.16s;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.navbar-active:hover {
    color: #212529;
}

.navbar-active:hover::before,
.navbar-active:focus::before {
    height: 1.8%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transition: height 0.16s, border-top-left-radius 0.16s, border-top-right-radius 0.16s;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropdown-menu li {
    color: #000;
}

.dropdown-menu li:hover {
    color: #29BE97;
}

.dropdown-menu li:active {
    color: red;
    background-color: #fff;
}

.dropdown-icon-padding {
    margin: 0px 5px 2px 5px;
}

.material-icons {
    vertical-align: middle;
}

/* carousel */

.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: 44vh;
    object-fit: cover;
}

.topline {
    border-top: 1px solid #DDDDDD;
    margin-left: 0px;
    margin-right: 0px;
}

.line-footer {
    border-top: 1px solid #29BE97;
    ;
    margin-top: 20px;
    margin-bottom: 20px;
}

.white-image {
    filter: brightness(0) invert(1);
}

.top-3-img-grid {
    border-radius: .25rem;
}

/* form */

.form-container {
    margin: 10px 10px 0px 0px;
}

/* card */

.slide-container {
    margin: 0 30px;
    overflow: hidden;
}

.card {
    background: #fff;
    border-radius: 8px;
}

.card .image-box {
    height: 300px;
}

.card .image-box img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 8px 8px 8px 8px;
}

.card img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 8px 8px 8px 8px;
}

.card img {
    height: 300px;
}

.star {
    color: #29BE97;
    list-style: none;
    text-decoration: none;
    position: absolute;
    top: -1px;
    left: -1px;
    padding: auto;
    background-color: #fff;
    border-radius: 0 0 8px 0;
}

.card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.card .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.swiper-navBtn {
    color: #000;
    height: 50px;
    width: 50px;
    transform: translateY(-40%);
    background: #fff;
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 24px;
}

.swiper-pagination-bullet {
    background-color: #333;
}

@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }
}



/* footer */

.lu-a {
    color: #F8F9FA;
}

.lu-a:hover {
    color: #29BE97;
}

/* Gallery Accorion */

.gallery-container {
    position: relative;
    width: 100%;
    max-height: 570px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
}

.item-a {
    height: 100%;
    cursor: pointer;
}

/* About US */

.img-AU {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

/* Parallax */

.mouse-parallax {
    height: 500px;
    position: relative;
    overflow: hidden;
}

.mouse-parallax-bg {
    position: absolute;
    background-image: url("/images/parallax.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 60vh;
    transition: all 0.1s ease;
}

/* three cards information */

.card {
    border-radius: 20px;
}

.card-info-details {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 40px 20px 40px;
    background-color: #29BE97;
    border-radius: 14px;
}

.card-info-details i {
    height: 70px;
    width: 66px;
    border-radius: 11%;
    background-color: #fff;
    color: #FF6647;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info-details .title {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.card-info-details .paragraph {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

/* Carousel Text */

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 52px;
    color: #fff;
}

/* Help Panel */

* {
    box-sizing: border-box;
}

.fab-wrapper {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

.fab-checkbox {
    display: none;
}

.fab {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 3rem;
    height: 3rem;
    background: blue;
    border-radius: 50%;
    background: #126ee2;
    transition: all 0.3s ease;
    z-index: 1;
    border-bottom-right-radius: 6px;
}

.fab:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.fab-checkbox:checked~.fab:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.2);
}

.fab:hover {
    background: #FF6647;
    transition: all 0.5s ease;
}

.fab-dots {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    opacity: 1;
    animation: blink 5s ease infinite;
    transition: all 0.3s ease;
}

.fab-dots-1 {
    left: 15px;
    animation-delay: 0s;
}

.fab-dots-2 {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: 0.4s;
}

.fab-dots-3 {
    right: 15px;
    animation-delay: 0.8s;
}

@keyframes blink {
    50% {
        opacity: 0.25;
    }
}

.fab-checkbox:checked~.fab .fab-dots {
    animation: none;
}

.fab-wheel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
}


.fab-action {
    position: absolute;
    background: #0f1941;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    transition: all 0.5s ease;

    opacity: 0;
}

.fab-checkbox:checked~.fab-wheel .fab-action {
    opacity: 1;
}

.fab-action:hover {
    background-color: #29BE97;
}

.fab-wheel .fab-action-1 {
    right: -1rem;
    top: -3rem;
    border-radius: 50px 50px 0 0;
}

.fab-wheel .fab-action-2 {
    right: -1rem;
    top: 0.2rem;
}

.fab-wheel .fab-action-3 {
    right: -1rem;
    top: 3.4rem;
    border-radius: 0 0 50px 50px;
}