 /* pre-loader-animation */

 .loading-wrapper {
     background-color: #CCEAF7;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     position: absolute;
     position: fixed;
     background-image: url("/images/airplane.gif");
     background-position: center center;
     background-repeat: no-repeat;
     background-size: 35%;
     z-index: 3;
 }

 /* Main */

 body {
     font-family: 'Helvetica Neue', sans-serif;
 }

 .highlighted-text {
     color: #29BE97;
 }

 .highlighted-text-2 {
     color: #FF6647;
 }

 .Caveat {
     font-family: 'Caveat', cursive;
 }

 .abril-fatface {
     font-family: 'Abril Fatface', sans-serif;
     font-size: 88px;
 }

 .abril-fatface2 {
     font-family: 'Abril Fatface', sans-serif;
 }

 .yesteryear {
     font-family: 'Yesteryear', cursive;
     font-size: 30px;
     color: #29BE97;
 }

 .select-disable {
     -ms-user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     user-select: none;
 }

 /* Header */

 .header-widget-padding {
     padding: 15px 25px 15px 0px;
 }

 .header-widget-icon {
     margin: 0px 6px 0px 0px;
 }

 .header-social-padding {
     padding-right: 8px;
     color: #212529;
     text-decoration: none;
 }

 .logo-padding {
     margin: 13px 15px 13px 0px;
 }

 .logo-text {
     font-family: 'Abril Fatface', sans-serif;
 }

 .navbar-padding {
     padding: 28.22px 10px;
 }

 .navbar-padding-account {
     padding: 20.2px 10px;
 }

 .navbar-text-active {
     color: #29BE97;
 }

 .navbar-text-active:hover {
     color: #29BE97;
 }

 .navbar-active {
     color: #212529;
     position: relative;
 }

 .navbar-active::after {
     content: '';
     position: absolute;
     bottom: 0px;
     width: 100%;
     height: 2px;
     left: 0;
     background-color: #29BE97 !important;
     border-radius: 8px 8px 0 0;
     opacity: 0;
     transition: all 0.2s ease-in-out;
 }

 .navbar-active:hover::after {
     color: #212529;
     opacity: 1;
 }

 .navbar-active:hover {
     color: #212529;
 }

 a:focus {
     color: #212529 !important;
     text-decoration: none;
 }

 /* Dropdown */
 .dropdown-toggle {
     cursor: pointer;
 }

 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropdown-menu {
     display: none;
     position: absolute;
     border-radius: 0 0 8px 8px;
     padding: 15px 10px;
     width: auto;
     animation: fadeIn 0.3s ease;
 }

 .dropdown-menu a:hover,
 .dropdown-menu i:hover {
     color: #29BE97;
     text-decoration: none;
     background-color: #fff;
 }

 .dropdown-menu::after {
     display: none;
     position: absolute;
     opacity: 0;
 }

 .dropdown.active .dropdown-menu {
     display: block;
 }

 .dropdown.active::after {
     opacity: 1;
     display: block;
 }

 @keyframes fadeIn {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 .dropdown-menu li {
     color: #000;
 }

 .dropdown-menu li:hover {
     color: #29BE97;
 }

 .dropdown-menu li:active {
     color: red;
     background-color: #fff;
 }

 .material-icons {
     vertical-align: middle;
 }

 /* carousel */

 .carousel {
     width: 100%;
     overflow: hidden;
 }

 .carousel-inner img {
     width: 100%;
     height: 44vh;
     object-fit: cover;
 }

 .topline {
     border-top: 1px solid #DDDDDD;
     margin-left: 0px;
     margin-right: 0px;
 }

 .line-footer {
     border-top: 1px solid #29BE97;
     ;
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .white-image {
     filter: brightness(0) invert(1);
 }

 .top-3-img-grid {
     border-radius: .25rem;
 }

 /* form */

 .form-container {
     margin: 10px 10px 0px 0px;
 }

 /* card */

 .slide-container {
     margin: 0 30px;
     overflow: hidden;
 }

 .card {
     background: #fff;
     border-radius: 8px;
 }

 .card .image-box {
     height: 300px;
 }

 .card .image-box img {
     width: 100%;
     height: 75%;
     object-fit: cover;
     border-radius: 8px 8px 8px 8px;
 }

 .card img {
     width: 100%;
     height: 75%;
     object-fit: cover;
     border-radius: 8px 8px 8px 8px;
 }

 .card img {
     height: 300px;
 }

 .star {
     color: #29BE97;
     list-style: none;
     text-decoration: none;
     position: absolute;
     top: -1px;
     left: -1px;
     padding: auto;
     background-color: #fff;
     border-radius: 0 0 8px 0;
 }

 .card .profile-details {
     display: flex;
     align-items: center;
     column-gap: 12px;
     padding: 15px;
 }

 .card .profile-details img {
     height: 40px;
     width: 40px;
     border-radius: 50%;
 }

 .swiper-navBtn {
     color: #000;
     height: 50px;
     width: 50px;
     transform: translateY(-40%);
     background: #fff;
     border-radius: 50%;
 }

 .swiper-navBtn::before,
 .swiper-navBtn::after {
     font-size: 24px;
 }

 .swiper-pagination-bullet {
     background-color: #333;
 }

 @media screen and (max-width: 768px) {
     .swiper-navBtn {
         display: none;
     }
 }



 /* footer */

 .lu-a {
     color: #F8F9FA;
 }

 .lu-a:hover {
     color: #29BE97;
 }

 /* Gallery Accorion */

 .gallery-container {
     position: relative;
     width: 100%;
     max-height: 570px;
     margin: 0 auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 80vh;
     border-radius: 20px;
     overflow: hidden;
 }

 .item-a {
     height: 100%;
     cursor: pointer;
 }

 .tooltip {
     display: none;
     position: absolute;
     background-color: #333;
     color: #fff;
     padding: 5px;
     border-radius: 5px;
     font-size: 14px;
     z-index: 1;
 }

 .item-a:hover .tooltip {
     display: block;
 }

 /* About US */

 .img-AU {
     width: 500px;
     height: 500px;
     object-fit: cover;
     border-radius: 20px;
 }

 /* Parallax */

 .mouse-parallax {
     height: 500px;
     position: relative;
     overflow: hidden;
 }

 .mouse-parallax-bg {
     position: absolute;
     background-image: url("/images/parallax.jpg");
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 110%;
     height: 60vh;
     transition: all 0.1s ease;
 }

 /* three cards information */

 .card {
     border-radius: 12px;
 }

 .width-card {
     border-radius: 12px;
     background-color: #FF6647;
     max-width: 100%;
     max-height: auto;
     padding: auto;
     padding: 25px 10px;
 }

 .width-card-content {
     flex-wrap: nowrap;
     color: #fff;
 }

 .width-card-content i,
 .width-card-content span {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .card-info-details {
     width: auto;
     height: auto;
     display: flex;
     align-items: center;
     column-gap: 12px;
     padding: 40px 20px 40px;
     background-color: #29BE97;
     border-radius: 14px;
 }

 .card-info-details i {
     height: 70px;
     width: 66px;
     border-radius: 11%;
     background-color: #fff;
     color: #FF6647;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .card-info-details .title {
     font-size: 20px;
     font-weight: 500;
     color: black;
 }

 .card-info-details .paragraph {
     font-size: 12px;
     font-weight: 500;
     color: #2e2e2e;
 }

 /* Carousel Text */

 .carousel-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 52px;
     color: #fff;
 }

 /* Help Panel */

 * {
     box-sizing: border-box;
 }

 .fab-wrapper {
     position: fixed;
     bottom: 3rem;
     right: 3rem;
     z-index: 2;
     display: none;
 }

 .fab-checkbox {
     display: none;
 }

 .fab {
     position: absolute;
     bottom: -1rem;
     right: -1rem;
     width: 3rem;
     height: 3rem;
     background: blue;
     border-radius: 50%;
     background: #126ee2;
     transition: all 0.3s ease;
     z-index: 1;
     border-bottom-right-radius: 6px;
 }

 .fab:before {
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.1);
 }

 .fab-checkbox:checked~.fab:before {
     width: 90%;
     height: 90%;
     left: 5%;
     top: 5%;
     background-color: rgba(255, 255, 255, 0.2);
 }

 .fab:hover {
     background: #FF6647;
     transition: all 0.5s ease;
 }

 .fab-dots {
     position: absolute;
     height: 4px;
     width: 4px;
     background-color: white;
     border-radius: 50%;
     top: 50%;
     transform: translateX(0%) translateY(-50%) rotate(0deg);
     opacity: 1;
     animation: blink 5s ease infinite;
     transition: all 0.3s ease;
 }

 .fab-dots-1 {
     left: 15px;
     animation-delay: 0s;
 }

 .fab-dots-2 {
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
     animation-delay: 0.4s;
 }

 .fab-dots-3 {
     right: 15px;
     animation-delay: 0.8s;
 }

 @keyframes blink {
     50% {
         opacity: 0.25;
     }
 }

 .fab-checkbox:checked~.fab .fab-dots {
     animation: none;
 }

 .fab-wheel {
     position: absolute;
     bottom: 0;
     right: 0;
     width: 10rem;
     height: 10rem;
     transition: all 0.3s ease;
 }


 .fab-action {
     position: absolute;
     background: #0f1941;
     width: 3rem;
     height: 3rem;
     display: flex;
     align-items: center;
     justify-content: center;
     color: White;
     transition: all 0.5s ease;

     opacity: 0;
 }

 .fab-checkbox:checked~.fab-wheel .fab-action {
     opacity: 1;
 }

 .fab-action:hover {
     background-color: #29BE97;
 }

 .fab-wheel .fab-action-1 {
     right: -1rem;
     top: -3rem;
     border-radius: 50px 50px 0 0;
 }

 .fab-wheel .fab-action-2 {
     right: -1rem;
     top: 0.2rem;
 }

 .fab-wheel .fab-action-3 {
     right: -1rem;
     top: 3.4rem;
     border-radius: 0 0 50px 50px;
 }

 /* services */

 .services-img {
     border-radius: 12px;
 }

 .popup {
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     padding: 20px;
     text-align: center;
     z-index: 1;
 }

 .close {
     position: absolute;
     top: 0;
     right: 0;
     padding: 10px;
     cursor: pointer;
 }

 #showMessage {
     padding: 10px 20px;
     background-color: #007bff;
     color: #fff;
     border: none;
     cursor: pointer;
 }

 #actionButton {
     padding: 10px 20px;
     background-color: #007bff;
     color: #fff;
     border: none;
     cursor: pointer;
 }

 #showMessage:hover,
 #actionButton:hover {
     background-color: #0056b3;
 }

 /* Travel-list */

 .tour-details {
     padding-bottom: 10px !important;
 }

 .divider {
     border-bottom: 1px solid #E7ECF1;
     margin: 20px 0;
 }

 .check-green {
     color: #29BE97;
     padding: 0 12px 0 0;
 }

 .check-red {
     color: #FF6647;
     padding: 0 12px 0 0;
 }

 .Text-details-Bold {
     font-size: 20px;
 }

 /* wallpaper */

 .wallpaper {
     margin: 0 auto;
     position: relative;
     width: 100%;
     height: 40vh;
     object-fit: cover;
     filter: brightness(70%);
     z-index: 1;
 }

 .wallpaper-content {
     content: '';
     position: absolute;
     z-index: 2;
 }

 .wallpaper .wallpaper-content {
     top: 0;
     left: 0;
 }

 video {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .video-hidden {
     display: none;
 }

 .wallpaper-content button {
     background-color: transparent;
     border: none;
 }

 #fullscreen-button {
     position: absolute;
     top: 10px;
     right: 10px;
     cursor: pointer;
 }

 /* progress bar */


 .progress-bar {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.progress {
    height: 20px;
    background-color: #FF6647;
}

.progress-label {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: auto;
    color: #333;
}

/* search box */

.search-form {
    position: relative;
}

.search {
    position: relative;
    width: 100%;
    border: none;
    border-radius: 12px;
    margin: 1rem 0;
    padding: 1rem 10px;
    background-color: #F1F2F2;
    outline: none;
    color: #2e2e2e;
    display: flex;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%, -50%);
    background-color: #29BE97;
    height: 100%;
    border-radius: 0 12px 12px 0;
    width: 50px;
    text-decoration: none;
    color: #2e2e2e;
}   

/* Problem Form */

.problem-form {
    border: none;
    border-radius: 12px;
    background-color: #29BE97;
    padding: 30px 2rem;
}

.problem-box {
    width: 100%;
    border: none;
    border-radius: 12px;
    background-color: #fff;
    padding: 10px 10px;
    margin: 10px 0 10px 0;
}

.highlight {
    background-color: yellow;
}

.tooltip-text {
    visibility: hidden;
    width: 100%;
    background-color: #29BE97;
    color: #2e2e2e;
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}